<!DOCTYPE html>
<html>
<head>
  <title>Recipe - Hack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="buffer">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Recipe Hack</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Recipe List', recipes_path %></li>
        <li><%= link_to 'New Recipe', new_recipe_path %></li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="welcome-banner">
  <h1>Welcome to Recipe Hack</h1>
</div>

<div id="main-container" class="container">
    <div class="row">
      <div id="sidebar" class="col-sm-2">
        <div class="logo">
            <img src="http://i.imgur.com/4eU4wAB.png">
        </div>
      </div>
      <div id="main-content" class="col-sm-10">
        <%= yield %>
      </div>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>(c) 2016 Thomas Wija</p>
    </div>
    <div class="navbar-text pull-right">
      <div class="tech-used"><a href="https://www.ruby-lang.org/en/"><img src="http://i.imgur.com/rcLhcBi.png"></a></div> <!-- Ruby -->
      <div class="tech-used"><a href="http://rubyonrails.org/"><img src="http://i.imgur.com/i94548y.png"></a></div> <!-- Rails -->
      <div class="tech-used"><a href="https://www.jetbrains.com/ruby/"><img src="http://i.imgur.com/IZxXUQF.png"></a></div> <!-- RM -->

      <div class="tech-used"><a href="http://www.github.com"><img src="http://i.imgur.com/4HTV2M6.png"></a></div> <!-- Github -->
      <div class="tech-used"><a href="http://getbootstrap.com/"><img src="http://i.imgur.com/i6b4jvy.png"></a></div> <!-- BS -->

      <div class="tech-used"><a href="https://www.w3.org/html/"><img src="http://i.imgur.com/QMMIqGW.png"></a></div> <!-- HTML -->
      <div class="tech-used"><a href="https://www.w3.org/Style/CSS/"><img src="http://i.imgur.com/EqZyjrQ.png"></a></div> <!-- CSS -->
      <div class="tech-used"><a href="#"><img src="http://i.imgur.com/qzCh0we.png"></a></div> <!-- JS -->

      <div class="tech-used-sql"><a href="https://www.sqlite.org/"><img src="http://i.imgur.com/E6GeNWz.png"></a></div> <!-- Sqlite -->
    </div>
  </div>
</div>

</body>
</html>
